<template name="homepage">
    <div class="container" style="margin-top: 100px;">
        <div class="mt-4 p-5 bg-primary text-white rounded">
          <h1>Welcome Homepage</h1> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p> 
        </div>
    </div>
</template>