<head>
    <title>Den Shop</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, viewport-fit=cover, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="/css/uikit.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    -->
    <link rel="stylesheet" href="/css/datatable.css">

    <link rel="icon" type="image/x-icon" href="/logo.png">

    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/uikit.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css"> -->
</head>

<body>
    <script src="/js/uikit.js"></script>
    <script src="https://kit.fontawesome.com/551da93b72.js" crossorigin="anonymous"></script>

    <script src="/js/uikit-icons.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script> -->
</body>

<template name="loading">
</template>

<template name="public">
    {{>navbar}}

    {{> homepage}}
    
    {{> footer}} 
</template>

<template name="myaccount">
    {{>navbar}}
    <div class="masthead">
        <div class="container">
            {{#if $eq accountstate "signUp"}}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="at-form" style="margin:0px 0px 0px;">
                        <input type="radio" id="employer" name="urole" value="employer">
                        <label for="employer">Employer</label>
                        &nbsp;
                        &nbsp;
                        <input type="radio" id="employee" name="urole" value="employee">
                        <label for="employee">Employee</label>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        {{> yield}}
    </div>
</template>

<template name='navbar'>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
        <div class="container px-5">
            <a class="navbar-brand fw-bold" href="/">
                <img src="/logo.png" style="height: 70px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="bi-list"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                    {{#if userLogin}}

                        {{#if isInRole 'employee'}}
                            <li class="nav-item"><a class="nav-link me-lg-3" href="#">Employee Menu</a></li>
                        {{/if}}

                        {{#if isInRole 'employer'}}
                            <li class="nav-item"><a class="nav-link me-lg-3" href="#">Employer Menu</a></li>
                        {{/if}}

                        {{#if isInRole 'admin'}}
                            <li class="nav-item"><a class="nav-link me-lg-3" href="#">Admin Menu</a></li>
                            <li class="nav-item"><a class="nav-link me-lg-3" href="/record/items">Items</a></li>
                            <li class="nav-item dropdown">
                                <p style="cursor: pointer; height: 1px;" href="#" class="nav-link me-lg-3 dropdown-toggle" id="DropMenu" data-toggle="dropdown" aria-expanded="false">
                                    Users
                                    <div class="dropdown-menu" aria-labelledby="DropMenu">
                                        <a class="dropdown-item" href="/admin/member/list">Member List</a>
                                    </div>
                                </p>
                            </li>
                            <li class="nav-item dropdown">
                                <p style="cursor: pointer; height: 1px;" href="#" class="nav-link me-lg-3 dropdown-toggle" id="DropMenu" data-toggle="dropdown" aria-expanded="false">
                                    Settings
                                    <div class="dropdown-menu" aria-labelledby="DropMenu">
                                        <a class="dropdown-item" href="/admin/province/record">Province</a>
                                        <a class="dropdown-item" href="/admin/category/record">Category</a>
                                        <a class="dropdown-item" href="/admin/unit/record">Unit</a>
                                    </div>
                                </p>
                            </li>
                        {{/if}}
                       
                        <li class="nav-item"><a class="nav-link me-lg-3" href="/profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="/logout">Sign Out</a></li>
                    {{else}}
                        <li class="nav-item"><a class="nav-link me-lg-3" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="/aboutus">About</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="/sign-in">Sign In</a></li>
                        <li class="nav-item"><a class="nav-link me-lg-3" href="/sign-up">Sign Up</a></li>
                    {{/if}}
                </ul>
                <!-- <button class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                    <span class="d-flex align-items-center">
                        <i class="bi-chat-text-fill me-2"></i>
                        <span class="small">Send Feedback</span>
                    </span>
                </button> -->
            </div>
        </div>
    </nav>
</template>

<template name="banner_status">
    {{#unless connected}}
    <div class="alert alert-danger onlinestatus text-center" role="alert">
        <strong>
            <span class="fa fa-info-circle"></span>
            កំពុងភ្ជាប់ទៅកាន់បណ្តាញ (Connecting ...)
        </strong>
    </div>
    {{/unless}}
</template>

<template name="footer">
    <div class="mt-4 p-5 bg-primary text-white rounded" style="position: absolute; width: 100%; bottom: 0px;">
        <h1>Footer</h1>
    </div>
</template>