body {
    padding: 0px;
    font-family: sans-serif;
    /* background-color: #f3f3f3 !important; */
    /* min-height: 800px; */
    text-decoration: none !important;
}

a {
    text-decoration: none !important;
}

.notseen-yet {
    font-size: 9px;
    color: blue;
}

.user_list {
    border-bottom: 1px solid #ececec;
    margin: 0;
    padding: 10px 16px 10px;
}

.user_name h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.user_name {
    float: left;
    padding: 5px 0px 0px 15px;
    width: 88%;
}

.list-group {
    max-height: 400px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
    padding: 0px !important;
}

.content {
    padding-top: 55px !important;
}

.col-lg-6 {
    width: 50% !important;
}

.uk-offcanvas-bar {
    background: #f3f3f3 !important;
    color: black !important;
}

.uk-nav-default>li>a {
    color: black !important;
}

.bottom {
    font-size: 23px !important;
}

.bottom-icon {
    color: #d2d2d2 !important;
}

.active {
    color: black !important;
}

.mg-bottom-20 {
    margin-bottom: 20px !important;
}

form {
    width: 100% !important;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 100%;
    /* border-right: 1px solid #c4c4c4; */
}

.inbox_msg {
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.plus-chat {
    font-size: 20px;
    margin-left: 15px;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 57%;
}

.headind_srch {
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    height: 53px !important;
    border-bottom: 1px solid #ececec;
    background: #f8f9fa;
}

.recent_heading h4 {
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #ececec;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    background: white;
    padding-bottom: 23px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.msg_history {
    height: 600px !important;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    /* padding: 30px 15px 0 25px;
  width: 60%; */
    width: 100%;
}

.sent_msg p {
    background: #28dc46 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
}

.sent_msg {
    float: right;
    width: 46%;
}

.view-profile {
    width: 30px;
}

.icon-back-history {
    width: 30px;
    height: 30px;
}

.profile-heading {
    float: left;
    width: 100%;
}

.swal2-popup.swal2-toast {
    padding: 5px !important;
}

.swal2-backdrop-show {
    padding-top: 1px !important;
}

.input_msg_write>write_msg {
    background: rgb(255 255 255) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 65px;
    width: 100%;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #dc3545 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 16px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
    background: white;
}

.msg_history {
    height: 516px;
    overflow-y: auto;
}


/* .msg_history {
  height: 100% !important;
  padding-bottom: 110px !important;
  overflow-y: auto;
} */

.overlay-container {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
}

.circle-small-3 {
    width: 120px;
    margin: 0 auto;
}

.circle {
    -webkit-border-radius: 100% !important;
    -moz-border-radius: 100% !important;
    border-radius: 100% !important;
}

.uk-grid-item-match {
    padding-bottom: 10px !important;
}

.uk-card-default {
    box-shadow: 0 20px 15px rgb(0 0 0 / 8%) !important;
}

.box-post {
    border-radius: 8px !important;
    width: 70% !important;
    margin-left: 5px !important;
}

.icon-post-back {
    font-size: 25px;
    /* margin-top: 5px; */
}

.frame-icon {
    float: left;
    height: 40px;
    width: 50px;
}

.uk-background-dot {
    background: #dedede !important;
    padding: 5px 25px !important;
}

.uk-drop {
    width: 130px !important;
    top: 20px !important;
    padding-right: 15px !important;
}

.uk-card-default {
    color: black !important;
}

.btn-margin-left {
    margin-left: 10px !important;
}

*+hr,
*+.uk-hr {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

.uk-footer-custom {
    padding: 10px 20px !important;
}

.like-button {
    color: red !important;
}

.count-like {
    font-size: 14px;
}

.uk-position-top-center-cus {
    top: 5px !important;
}

.circle-img-thumbnail {
    border-radius: 0;
    display: inline-block;
    /* background: #dbdbdb; */
    padding: 5px;
}

.pro-img-circle {
    border-radius: 50%;
    margin: 0px auto;
    float: none;
    display: table !important;
}

.circle-img-thumbnail>div {
    display: inline-block;
    overflow: hidden;
    /* height: 140px; */
    border: 5px solid #fff;
    /* -webkit-box-shadow: 0 2px 0 2px #333; */
    /* box-shadow: 0 2px 0 2px #d43f3a; */
    border-radius: 50%;
}

img.img-circle {
    background: #c7c7c7;
}

.drop-collape {
    display: none;
}

.pro-overlay {
    left: 0;
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    padding: 20px 0;
}

.verify-icon {
    color: #1877f2 !important;
}

.profile-icon {
    border-radius: 50% !important;
    height: 35px !important;
}

.profile-icon-chat {
    border-radius: 50% !important;
    height: 37px !important;
    width: 37px !important;
}

.profile-icon-message {
    border-radius: 50% !important;
    height: 23px !important;
}

.hidden {
    display: none !important;
}

.class-for-check {
    bottom: 60px !important;
}

@media (min-width: 992px) {
    .col-md-offset-3 {
        margin-left: 25%;
    }
}

.at-form {
    background: white !important;
}

body.swal2-toast-shown .swal2-container.swal2-top-end,
body.swal2-toast-shown .swal2-container.swal2-top-right {
    top: 10px !important;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        /* width: 100% !important; */
    }
}

[data-required]>label:after {
    content: ' *';
    color: red;
}