<template name="category_record">
    {{>navbar}}
    <section id="features">
        <div class="container px-5">

            <nav class="mt-1 mb-1" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </nav>

            <div class="row gx-5 align-items-center">
                <h1>Category Management</h1>
                <hr>
                
                {{#autoForm collection=CollectionOne doc=categoryDoc id="Category" type=manageType}}
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 mb-2">
                            {{> afQuickField name='name'}}
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 mb-2">
                            {{> afQuickField name='view_order'}}
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                            {{#if categoryDoc}}
                            <button type="submit" class="btn btn-block btn-primary btn-sm" id="btn-Update" style="width: 100%;"><i class="fa fa-pencil-square-o"></i> Update</button>
                            {{else}}
                            <button type="submit" class="btn btn-block btn-primary btn-sm" id="btn-save" style="width: 100%;"><i class="fa fa-save"></i> Save</button>
                            {{/if}}
                        </div>
                    </div>
                {{/autoForm}}
            </div>

            <div class="row">
                <div class="colxl-12 col-lg-12 col-md-12">
                    <div class="card card-body">
                        {{> tabular table=TabularTables.Category class="table table-striped table-bordered table-condensed"}}
                    </div>
                </div>
            </div>

        </div>
    </section>
</template>