<template name="items_record">
    {{>navbar}}
    <div class="container" style="margin-top: 150px;">
        <h1>Item Management</h1>
        {{#autoForm collection=CollectionItems doc=ItemsDoc id="ItemsRecord" type=manageType}}
            <div class="row">
                <div class="col-md-6">
                    {{> afQuickField name='itemcode'}}
                </div>
                <div class="col-md-6">
                    {{> afQuickField name='title'}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{> afQuickField name='category_id'}}
                </div>
                <div class="col-md-6">
                    {{> afQuickField name='unit_id'}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> afQuickField name='price'}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{> afQuickField name='description'}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <button id="btn-save" type="submit" class="btn btn-primary">
                        {{#if isUpdate}}
                            Update
                        {{else}}
                            Save
                        {{/if}}
                    </button>
                    
                    {{#if isUpdate}}
                    <button class="btn btn-danger" type="button" id="btn-cancel">
                        Cancel
                    </button>
                    {{/if}}

                </div>
            </div>
        {{/autoForm}}

        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <div class="card card-body">
                    {{> tabular table=TabularTables.ItemsList class="table table-striped table-bordered table-condensed"}}
                </div>
            </div>
        </div>
        
    </div>
</template>