<template name="admin_member_list">
    {{>navbar}}
    <section id="features">
        <div class="container px-5">

            <nav class="mt-1 mb-1" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Members List</li>
                </ol>
            </nav>

            <div class="card card-body">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                        {{> tabular table=MemberList class="table table-striped table-bordered table-condensed"}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>