<template name="unit_record">
    {{>navbar}}

    <section id="features">
        <div class="container px-5">

            <nav class="mt-1 mb-1" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </nav>

            <div class="row gx-5 align-items-center">
                <h1>Unit Management</h1>
                <hr>
                {{#autoForm collection=CollectionName doc=getUnit id="Unit" type=formType }}
                    {{> afQuickField name='name'}}
                    {{> afQuickField name='view_order'}}
                    <button type="submit" class="btn btn-info">Save</button>
                {{/autoForm}}
            </div>

            {{> tabular table=TabularTables.Unit class="table table-striped table-bordered table-condensed"}}

        </div>
        
    </section>
</template>